# Mac OS redundant folder
.DS_Store/

# Model files (too large to be pushed on GitHub)
model/
thesis_nlp/datasets/
thesis_nlp/temp/
thesis_nlp/model/
thesis_nlp/data/


# Log files
log/

# Jetbrains folder
.idea/

# Data folder
.data/

# Python's cache
__pycache__/
